@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.cdnfonts.com/css/leon');


.boton1{
    transition: 0.2s ;
    padding: 5px;
    width: 200px;
}

.boton1:active{
    background-color:cornflowerblue;
       
      }

.boton1:hover{
    scale: 1.05;
}

.titulo{
    text-shadow: 8px 4px 0px rgba(28,110,164,0.8);
    color:rgb(0, 0, 73);
    text-align: center;
    opacity: 70%;
}
.titulo:hover{
    color: black;

}


.rectangulo1{
    border: 2px solid #333; /* Grosor y estilo del borde */
    padding: 10px; /* Espacio interno entre el contenido y el borde */

    /*background-image: url("/img/djlongo.png"); */
    background-size:50%;
    background-repeat: no-repeat;
    background-position: center;
  
   /* background-color:dodgerblue; /* Color de fondo del recuadro */
    width:450px; /* Ancho del recuadro */
    margin: 10px;
    margin-left: 150px;
    box-shadow: 24px 24px 48px rgba(156, 85, 255, 0.2);
    opacity: 1;
    font-size:large;
    border-style: solid;
    border-width: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
    
    border-radius: 9px;
    margin-left: auto;
  margin-right: auto;
}
.divBoton{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.divCapo{
    text-align: center;

}
body{
    font-family: 'Roboto Mono', monospace;
}
a:hover{
    color: red;
}



img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-left: auto;
  margin-right: auto;
   
  
}